<!DOCTYPE html>
<html>
<head>
  <title>Git hooks</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "git_hooks/application", media: "all" %>
  <%= javascript_include_tag "git_hooks/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
